# NODE_ENV=
# PORT=

# JWT_SECRET=c
# JWT_EXPIRES_IN=
# CLOUDINARY_URL=
# FRONTEND_ORIGIN=
# PUBLIC_API_URL=



# CASHFREE_WEBHOOK_SECRET=


# PORT=5000
# MONGO_URI=
# # JWT 
# JWT_SECRET=
# # CLOUDINARY CONFIGURATION
# CLOUDINARY_CLOUD_NAME=
# CLOUDINARY_API_KEY=
# CLOUDINARY_API_SECRET=
# # CASHFREE CONFIGURATION
# CASHFREE_CLIENT_ID=
# CASHFREE_CLIENT_SECRET=
# CASHFREE_ENV=